<main class="home">
  <div
    class="domain-slider"
    data-controller="domain-slider"
    style="
      --left-domain: url('<%= asset_path('background_botanist.png') %>');
      --right-domain: url('<%= asset_path('background_programmer.png') %>');
      --pos: 50%;
    "
  >
    <div class="domain-slider__img domain-slider__img--left"></div>
    <div class="domain-slider__img domain-slider__img--right"></div>

    <input
      type="range"
      min="0"
      max="100"
      value="50"
      class="domain-slider__range"
      data-domain-slider-target="range"
      data-action="input->domain-slider#slide"
      aria-label="Slide between botany and code"
    />

    <div class="domain-slider__handle" data-domain-slider-target="handle" aria-hidden="true"></div>
  </div>
</main>
