<div class="overlay"></div>
<div class="container">
  <h1>Hi! I'm Mihaela Sava</h1>
  <p>My website will be blossoming soon!</p>
  <div>📧 <a href="mailto:contact@mihaela-sava.com">contact@mihaela-sava.com</a></div>
</div>
