<div class="flex justify-center mt-10">
  <%= image_tag "background_botanist.png", class: "rounded-2xl shadow-xl w-200" %>
</div>

<div class="w-full flex justify-center mt-8 relative">
  <p class="text-center text-lg text-gray-900 max-w-2xl pt-3 pb-5">
    <%= t('about.description') %>
  </p>
</div>

<div class="w-full flex justify-center mt-10">
  <hr class="w-32 border-t border-gray-300">
</div>

<div class="w-full flex justify-center mt-6 relative">
  <p class="text-center text-lg text-gray-900 max-w-2xl pt-3 pb-5">
    📩 <a href="mailto:contact@mihaela-sava.com">contact@mihaela-sava.com</a>
  </p>
</div>

